/*
	Selena Quintanilla Promotional Site
	by Elizabeth Vazquez
	Disclaimer: 
		I do not own the rights to the images or videos displayed on 
		this webpage. All rights belong to their respective owners.
*/

/* Dancing Script and Didact Gothic from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*============================================================================*/
	/* CSS for body & html tags */

body, html {
	height: 100%;				/* full page height */
	margin: 0;					/* prevent browser auto positioning */
	background-color: #000000;	/* black background for webpage	*/
}

/*============================================================================*/
	/* CSS for Landing */

#landing {
	height: 100%;
	margin-bottom: 20vh;
}

/* Landing image of Selena */
#landing div:first-of-type {
	height: 100%;

	background-image: url("images/pink-landing.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0.7;
	box-shadow: inset 0px -200px 100px -100px #000000;
}

/* Selena's signature container */
#landing div:last-of-type {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

/* Selena's signature */
#landing div:last-of-type img {
	width: 50%;
}

/*============================================================================*/
	/* CSS for flexboxes: Selena's signature & Type 1 sections */

#landing div:last-of-type, .section-1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*============================================================================*/
	/* CSS for BOTH types of sections */

.section-1, .section-2 {
	border-style: dotted;
	border-width: 1vw;
	
	margin: 0 10vw 10vh 10vw;
	padding: 0 4vw;	
}

/*============================================================================*/
	/* CSS for images */

img {
	border-radius: 1vw;
}

/*============================================================================*/
	/* CSS for Type 1 Sections */

.section-1 {
	border-color: #E2D0CC;
}

.section-1 div {
	width: 66%;
	padding-right: 4vw;
}

.section-1 img {
	width: 33%;
}

.section-1  p:last-of-type,
.section-1 li:last-of-type,
.section-2 div {
	margin-bottom: 8vh;
}

/*============================================================================*/
	/* CSS for Type 2 sections */

.section-2 {
	background-color: #42302F;
}

.section-2 div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.4vw;
}

.section-2 div img {
	width: 100%;
    margin: auto;
}

iframe {
	width: 100%;
}

/*============================================================================*/
	/* CSS for Text tags */

h1 {
	font-family: 'Dancing Script';
	font-size: 10vh;
	color: #DC71B1;
}

ul {
	list-style-type: "\1F497";
}

p, li {
	font-family: 'Didact Gothic';
	font-size: 2.5vh;
	color: #FA86B1;
}

li {
	margin-bottom: 1.6vh;
	padding-left: 4vw;
}

/*============================================================================*/
	/* CSS for Footer */

footer { /*footer element*/
	background-color: #42302F;
	padding: 3vh 0;
	text-align: center;
}

/*============================================================================*/
	/* CSS for MEDIA QUERY (phones, 480px and down) */

@media only screen and (max-width: 480px) {

	/* Selena's signature at full width */
	#landing div:last-of-type img {
		width: 100%;
	}

	/* Decrease side margins and dotted 
	   border width for sections of both types */
	.section-1, .section-2 {
		margin: 0 2.5vw 10vh 2.5vw;
		border-width: 2.25vw;
	}	

	/* Decrease h1 font size and center*/
	h1 {
		font-size: 5vh;
		text-align: center;
	}

	/* Decrease p & li font size */
	p, li {
		font-size: 2vh;
	}

	/* Sections of type 1 will not be flexboxes	*/
	.section-1 {
		display: block;
	}

	/* Remove right padding	for text in sections of type 1 */
	.section-1 div {
		padding-right: 0;
	}

	/* Content of section type 1 will have full width */
	.section-1 div, .section-1 img {
		width: 100%;
	}

	/* Decrease sections of type 1 paragraphs' & list items'
	and sections of type 2 grids' bottom margin */
	.section-1  p:last-of-type,
	.section-1 li:last-of-type,
	.section-2 div {
		margin-bottom: 4vh;
	}

	/* Add bottom margin to images in sections of type 1 */
	.section-1 img {
		margin-bottom: 3vh;
	}

	/* Decrease sections' left and right padding */
	.section-1, .section-2 {
		padding: 0 5vw;	
	}

	/* Decrease left padding of unordered list */
	ul {
		padding: 0 0 0 3.75vw;
	}

	/* Make grids have two columns and decrease gap	*/
	.section-2 div {
		grid-template-columns: 1fr 1fr;
		gap: 3vw;
	}

}